<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>


  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
        <%= message.body %>
        (<%= link_to "edit" , edit_message_path(message) %>
         <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
        )
      <br>
    <% end %>

    
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      
    <% @messages.each do |message| %>
    <tr>
      <th><span class="label label-info"><%= message.name %></span></th>
      <th><span class="label label-success"><%= message.body %></span></th>
    </tr>
      

    <% end %>
    </tbody>
  </table>
  </div>

<% #部分テンプレートを読み込んでいる %>
</div>

<%= render 'form' %>
